{% include base_path %}

{%- comment -%}
SHOW THE AUTHOR SIDEBAR BY DEFAULT.
To hide it on one page, put this in that page's front matter:
author_profile: false
{%- endcomment -%}
{% assign show_author_profile = true %}
{% if page.author_profile == false or layout.author_profile == false %}
  {% assign show_author_profile = false %}
{% endif %}

{% if show_author_profile or page.sidebar %}
  <div class="sidebar sticky">
    {% if show_author_profile %}{% include author-profile.html %}{% endif %}

    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src=
          {% if s.image contains "://" %}
            "{{ s.image }}"
          {% else %}
            "{{ s.image | prepend: '/images/' | prepend: base_path }}"
          {% endif %}
          alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% endfor %}
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}
